footer {
  display: flex;
  flex-direction: column;
  background-color: #484343;
  hr {
    color: white;
    height: 2px;
    width:99%;
  }
  .footerSectionOne {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 80%;
    .footerSectionOneOne {
      h3 {
        color: gray;
      }
      img {
        width: 20px;
        height: 20px;
        margin: 20px 10px 10px 10px;
      }
    }
    .footerSectionOneTwo {
      display: flex;
      flex-direction: row;
      text-align: start;
      color: white;

      h3 {
        color: gray;
      }
      a {
        text-decoration: none;
        list-style: none;
        color: white;
        font-size: 12px;
        opacity: 0.8;
      }
      a:hover {
        color: gold;
        transition: 0.5s;
      }
    }
    .footerSectionOneThree {
      align-items: center;
      h3 {
        color: gray;
      }
      p {
        color: white;
      }
    }
  }
  .footerSectionTwo {
    display: flex;
    justify-content: space-between;
    color: white;
    span:nth-child(1) {
      margin: 10px 0 10px 50px;
    }
    span:nth-child(2) {
      margin: 10px 50px 10px 0;
    }
  }
}


@media screen and (max-width: 1000px) {
  footer {
    .footerSectionOne {
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
    }
  }

}